.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;



}

.card {
  display: flex;
  flex-direction: column;
  width: 300px;
  border: 1px solid black;
  text-align: center;
  cursor: pointer;
  position: relative;
  box-shadow: 5px 5px 10px black;


}

.card:hover .containerImgBook::before {
  content: '';
  background-color: rgb(5, 4, 4);
  position: absolute;
  opacity: 0.5;
  width: 300px;
  height: 300px;


}

.card:hover .show {
  visibility: visible;
}



.containerImgBook {
  width: 300px;
  height: 300px;

}


.imgBook {
  width: 100%;
  height: 100%;

}



.show {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
  visibility: hidden;
  width: 80%;

}

.button_link_book {
  padding: 20px;
  background-color: rgba(176, 176, 176, 0.278);
  border: none;
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 100%;

}

.button_link_book:hover {
  cursor: pointer;
}

.divSearch {
  text-align: center;
  margin: 2rem 0px;

}

.SearchBtn {
  font-size: 3rem;
  border: none;
  padding: 1rem 3rem;
  border-radius: 4rem;
  background-color: wheat;
  color: rgb(32, 30, 30);
}

.inputValue {
  padding: 1rem 2rem;
  width: 40%;
  border-radius: 10px;
  font-size: 2rem;
}